name: Flowzone
on:
  pull_request:
    types: [opened, synchronize, closed]
    branches:
      - "main"
jobs:
  flowzone:
    name: Flowzone
    uses: product-os/flowzone/.github/workflows/flowzone.yml@master
    secrets: inherit
    with:
      required_approving_review_count: 0
